

<ul class="nav-menu">
    <li>
        <NavLink class="nav-link" href="status" title="Queued Files">
            <img src="icons/queue.svg" alt="Queued Files" class="nav-icon" />
        </NavLink>
    </li>

    <li>
        <NavLink class="nav-link" href="browse" title="Browse Files">
            <img src="icons/explorer.svg" alt="Browse Files" class="nav-icon" />
        </NavLink>
    </li>

    <li>
        <NavLink class="nav-link" href="drop" title="Drop Files">
            <img src="icons/drop.svg" alt="Drop Files" class="nav-icon" />
        </NavLink>
    </li>

    <li class="nav-bottom">
        <NavLink class="nav-link" href="config" title="Configure Cameras">
            <img src="icons/settings.svg" alt="Configure" class="nav-icon" />
        </NavLink>
    </li>
</ul>
